.game {
    width: 700px;
    height: 300px;
    position: relative;
}

.dyno {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.obstacle {
    top: 0;
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
}