.game {
    width: 700px;
    position: relative;
}

.dyno {
    width: 100px;
    height: 100px;
    background-color: red;
}

.obstacle {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
}